DJANGO_DEBUG=true
GRAPHQL_DEBUG=true
SECRET_KEY="4No%7RUt~J#gD|WS!g!b1!!f9B]#2UQRx<;DaLx%=Y#xF9Lm<$N=OC;(a#@9+}ve"
POSTGRES_GM_DB=django_react_docker_heroku
DATABASE_URL=postgres://postgres@db:5432/django_react_docker_heroku
