[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.9.1"

[packages]
django = "==3.0.12"
psycopg2 = "==2.8.6"
graphene = "==2.1.8"
graphene-django = "==2.15.0"
django-cors-headers = "*"
gunicorn = "*"
django-environ = "*"
django-heroku = "*"

[dev-packages]
pytest-django = "==3.3.2"
pytest-mock = "==1.10.0"
django-dotenv = "==1.4.2"
django-extensions = "==2.1.0"
factory-boy = "==2.11.1"
ipython = "==6.4.0"
faker = "==0.8.17"
pytest-cov = ">=2.4.1"
pytest-flakes = ">=4.0.0"
"pytest-pep8" = ">=1.0.6"
pylama = "*"
"autopep8" = "*"
